body{
    background-color: aqua;
}
img:hover {
        -ms-transform: scale(1.1); 
        -webkit-transform: scale(1.1); 
         transform: scale(1.1);     
  }
img {
    
    
    height:320px;
    width:507px;
    margin-top:2px;
    
    
   

}
nav{
    padding:20px;
}
input{
    text-align:center;
}
.id{
    z-index: 1;
}
h4{
    color:white;
}
#single{
    height:600px;
     width:870px;   
}
#cat{
    text-align:center;
    font-family:'Courier New', Courier, monospace;
    color:royalblue;
    font-style: italic;
}
